codespell==2.4.2
coveralls==4.1.0
mypy==2.1.0
pre-commit==4.6.0
pydantic==2.13.4
pylint==4.0.5
pylint-per-file-ignores==3.2.1
pytest==9.0.3
pytest-asyncio==1.3.0
pytest-cov==7.1.0
pytest-timeout==2.4.0
ruff==0.15.14
syrupy==5.2.0