codespell==2.4.0
coveralls==4.0.1
mypy==1.14.1
pre-commit==4.1.0
pydantic==2.10.5
pylint==3.3.3
pylint-per-file-ignores==1.4.0
pytest==8.3.4
pytest-asyncio==0.25.2
pytest-cov==6.0.0
pytest-timeout==2.3.1
ruff==0.9.3
syrupy==4.8.1