codespell==2.4.3
coveralls==4.1.0
mypy==2.3.1
pre-commit==4.6.2
pydantic==2.13.5
pylint==4.0.8
pylint-per-file-ignores==3.2.1
pytest==9.1.1
pytest-asyncio==1.4.0
pytest-cov==7.1.0
pytest-timeout==2.4.0
ruff==0.16.8
syrupy==6.1.1